@media only screen and (max-width: 600px) {
    .c{
        display: flex;        
        flex-wrap: wrap;
        justify-content: center;     
      }
    .c > div{
        margin-top:98px;
        
    }
}