body{
  position: relative;
}

.box{
  align-items: center;
  display: flex;
  
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
  
  margin-top: 150px;
  margin-bottom: 89px;
 
}
.box > div{
  width: 500px; 
  border: 1px solid #DBDEDD;
  padding:10px 15px;
}
.footer{
  position: relative;
  bottom: 0px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  body{
    position: relative;
  }
  
  .box{
    align-items: center;
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;    
    margin-top: 150px; 
    margin-bottom: 142px;  
  }
  .box > div{
    width: 300px; 
  }

  .footer{
    position: relative;
    bottom: 0px;
    width: 100%;
  }
}  